#cart-counter{
    position: absolute;
    background-color: red;
    left: 26px;
    top:16px;
    width: 24px;
    height: 24px;
    padding : 3px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
}
.animation{
    
}
.cat_section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

@media screen and (min-width : 650px) {
    .cat_section{
        grid-template-columns: 3fr 9fr;
    }
}