#cart-counter{
    position: absolute;
    background-color: red;
    left: 26px;
    top:16px;
    width: 24px;
    height: 24px;
    padding : 3px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
}
.animation{
    
}