footer{
    --padding-children :10px 20px;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: var(--dark-brown);
    height: fit-content;
    color: var(--white-text)
}
.footer-warpper{
    /* padding: 20px;    */
}
.footer_top{
    /* padding:  var(--padding-children); */
}
.footer_bottom{
    background-color: var(--light-yellow-gray);
    padding-top: 20px ;
    padding-bottom: 20px ;
    color: var(--dark-brown);
}
.bottom_footer_right small{
    display: block;
}

.footer_col{
    flex: 1;
    width: inherit;
    margin: 5px 10px;
    padding : 8px;
}

.footer_col_title{
    font-size: 18px;
    color: var( --gray-text);
    margin:6px auto;
    border-bottom: 1px solid rgb(72, 72, 72);
}
.footer_col_content ul li{
    margin : 8px auto;
    color: var(--white-text);
}
.payment_carts li{
    margin: auto 5px;
}