.form_header{
    font-family: inherit;
    /* color: var(--gray-text); */
    border-bottom: 1px solid var(--dark-gray);
    text-align: center;
    padding-bottom: 4px;
}
.forgot{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.form-btn{
    padding : 1rem ; 
    width: 100%;
    box-shadow: var(--flat-shadow);
}
.regiter_links{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.9rem auto 10px;
    justify-content: center;
    align-items: center;
}