
@font-face {
    font-family: "Tajawal";
    src: url("../../assets/fonts/Tajawal-Medium.ttf") format("ttf"),
         url("../../assets/fonts/Tajawal-Light.ttf") format("ttf"),
         url("../../assets/fonts/Tajawal-Bold.ttf") format("ttf");
  }
  


:root{
    --white: #fff;
    --main-gray : #f9fafc ;
    --dark-gray:#eff2f7 ;
    --dark-brown:#333 ;
    --light-brown:#484848;
    --white-text: white ;
    --gray-text : #a6a6a6;
    --light-yellow-gray:#e6e6e6;
    --lang: rtl;
    --tables: 1016px ;
    --desktop:  1200px;
    --far-away-shadow : rgba(50, 50, 93, 0.25) 0px 30px 30px -20px, rgba(0, 0, 0, 0.3) 0px 20px 60px -30px;
    --flat-shadow : rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --flat-shadow-hover : rgba(50, 50, 93, 0.25) 0px 2px 3px -1px, rgba(0, 0, 0, 0.3) 0px 1px 2px -4px;
}

*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
    direction: var(--lang);
    transition: 0.3s linear;
}
body{
    font-family: 'Tajawal',sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    
}
.container{
    /* padding :0px clamp( 0px,  6%, 9% ); */
    max-width: 1200px;
    margin: 0px auto;
}
input{
    width: 100%;
    border: none;
    background-color: inherit;
    border-radius: inherit;
    padding : 0px 8px;
    color: inherit;
}
button{
    background-color: inherit;
    border: none;
    border-radius: inherit;
    padding : 0px 8px;
}
img{
    width: 100%;
    height: 100%;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify_content_around{
    justify-content: space-around;
}
.justify_content_between{
    justify-content: space-between;
}
.justify_content_center{
    justify-content: center;
}
.justify_content_start{
    justify-content: flex-start;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align_center{
    align-items: center;
}
.align_between {
    align-content:space-between ;
}
.grid-col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
}
.rounded-5{
    border-radius: 5px;
}
.form{
    margin: 1.2rem;
}
.input{
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--dark-gray);
    margin: 10px 0px;
}
.input input{
    padding-bottom :  2rem ;
    width: 100%;
    color: gray;
}

.btn{
    background-color: white;
    box-shadow: var(--flat-shadow);
    width: fit-content;
    padding : 1.1rem;
    cursor: pointer;
}
.btn:hover{
    box-shadow: var(--flat-shadow-hover);
}
.color-gray{
    color:gray;
}
.color-blue{
    color :blue
}
.bg-red{
    background-color: rgb(206, 27, 27);
}
.mt-1{
 margin-top: 1.1rem;
}