:root{
    --main-gray : #f9fafc ;
    --dark-gray:#eff2f7 ;
    --dark-brown:#333 ;
    --light-brown:#484848;
    --white-text: white ;
    --gray-text : #a6a6a6;
    --light-yellow-gray:#e6e6e6;
    --lang: rtl;
}

*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
    direction: var(--lang);
    transition: 0.3s linear;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    
}
.container{
    padding : 0px 6% ;
}
input{
    width: 100%;
    border: none;
    background-color: inherit;
    border-radius: inherit;
    padding : 0px 8px;
    color: inherit;
}
button{
    background-color: inherit;
    border: none;
    border-radius: inherit;
    padding : 0px 8px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify_content_around{
    justify-content: space-around;
}
.justify_content_between{
    justify-content: space-between;
}
.justify_content_center{
    justify-content: center;
}
.align_center{
    align-items: center;
}
.align_between {
    align-content:space-between ;
}