<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="flex-col">
    <!-- like this cll the pages -->
    <!-- <a href="pages/details.html">clicking</a> -->

      <section class="section section_slider"></section>
      <section class="section section_cates"></section>
      <section class="section section_advir"></section>
      <section class="section section_products container">
        <div class="products_row">
          <div class="products_row_title flex-row justify_content_between">
            <h2>New views</h2>
            <p class="view-all">
              view all
            </p>
          </div>
          <div class="products_row_content flex-row justify_content_between">
            <ul class="products_list flex-row justify_content_center">
              <li class="product ">
                <div class="product_warpper flex-col justify_content_between">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product_warpper flex-col">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product_warpper flex-col">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product_warpper flex-col">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product_warpper flex-col">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="products_row">
          <div class="products_row_title flex-row justify_content_between">
            <h2>New views</h2>
            <p class="view-all">
              view all
            </p>
          </div>
          <div class="products_row_content flex-row justify_content_between">
            <ul class="products_list flex-row justify_content_center">
              <li class="product ">
                <div class="product_warpper flex-col justify_content_between">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product_warpper flex-col">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product_warpper flex-col">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product_warpper flex-col">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product_warpper flex-col">
                  <div class="product_img"></div>
                  <div class="product_name">
                    <h4 class="">كتاب التروني</h4>
                    <p>something</p>
                  </div>
                  <div class="product_price">
                    <h4>19.99<small>ر.ي</small></h4>
                    <p>شامل الضريبه</p>
                  </div>
                  <div class="product_more-info">
                    inforamtion
                  </div>
                  <div class="product_interactive flex-row ">
                    <span>icon</span>
                    <span class="crat bg-red">cart</span>
                    <span>icon</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
</body>
</html>