
    <header>
        <div class="header-warrper container">
          <div class="logo">LOGO</div>
          <div class="search">
            <input type="text" placeholder="البحث" />
            <button >بحث</button>
          </div>
          <div class="cart">cart</div>
        </div>
        <div class="slider">
          <ul class="slider-dots">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="slider_warrper">
            <div class="slider_img">
              <img src="https://images.pexels.com/photos/1152077/pexels-photo-1152077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=800" />
            </div>
            <div class="slider_img" >
              <img src="https://images.pexels.com/photos/1038000/pexels-photo-1038000.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=800" />
            </div>
            <div class="slider_img" >
              <img src="https://images.pexels.com/photos/1152077/pexels-photo-1152077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=800" />
            </div>
            
            <!-- <img src="https://images.pexels.com/photos/1152077/pexels-photo-1152077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> -->
          </div>
        </div>
      </header>
