<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <nav>
        <ul class="nav-list">
          <li>
            <a href=''>
              <i class=""></i>
              <span>أدخل لحسابك اوسجل الان </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class=""></i>
              <span> الرئسية </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class=""></i>
              <span>من نحن </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class=""></i>
              <span>اتصل بنا  </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class=""></i>
              <span> المساعدة </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class=""></i>
              <span> سيايسه الخصوصيه  </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class=""></i>
              <span> اليمن  </span>
            </a>
          </li>
          
          <li>
            <a href=''>
              <i class=""></i>
              <span> English  </span>
            </a>
          </li>
          
        </ul>
      </nav>
</body>
</html>