
    <nav>
        <ul class="nav-list container">
          <li>
            <a href='flex-col '>
              <i class="nav_icon"><img src="./assets/svgs/svgexport-5.svg"/></i>
              <span>أدخل لحسابك اوسجل الان </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class="nav_icon"><img src="./assets/svgs/star.svg"/></i>
              <span> الرئسية </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class="nav_icon"><img src="./assets/svgs/delivery.svg"/></i>
              <span>من نحن </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class="nav_icon"><img src="./assets/svgs/security.svg"/></i>
              <span>اتصل بنا  </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class="nav_icon"><img src="./assets/svgs/help.svg"/></i>
              <span> المساعدة </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class="nav_icon"><img src="./assets/svgs/location.svg"/></i>
              <span> سيايسه الخصوصيه  </span>
            </a>
          </li>
          <li>
            <a href=''>
              <i class=""></i>
              <span> اليمن  </span>
            </a>
          </li>
          
          <li>
            <a href=''>
              <i class="nav_icon"><img src="./assets/svgs/langs.svg"/></i>
              <span> English  </span>
            </a>
          </li>
          
        </ul>
      </nav>
