<div id="" class=" modal flex-center hidden_modal">
    <div class="modal_warpper">
        <div class="modal_header">
            <p class="close" id='close-modal'>
                <img src='../../assets/svgs/close.svg' alt="close" />
            </p>
        </div>
        <div class="modal_content">
            <div class="login_section flex-col ">
                <div class="login_warpper">
                    <div class="form_header">
                        <h3> أنشاء حساب</h3>
                    </div>
                    <form class="form_content form">
                        <div class="flex-row">
                            <label class="input rounded-5">
                                <input type="phone" placeholder="  رقم الجوال">
                            </label>
                            <label class="input rounded-5">
                                <input type="number" placeholder="  رمز البلد ">
                            </label>
                        </div>
                        <button class="btn form-btn bg-gray rounded-5 color-gray"> أرسال رمز التحقق</button>
                        <label class="input rounded-5">
                            <input type="text" placeholder=" اسم الاول">
                        </label>
                        <label class="input rounded-5">
                            <input type="text" placeholder=" اسم العائله">
                        </label>
                        <label class="input rounded-5">
                            <input type="email" placeholder="  البريد الاكتروني">
                        </label>
                        <label class="input rounded-5">
                            <input type="password" placeholder=" كلمه المرور ">
                        </label>
                        <label class="checkbox rounded-5 ">
                            <input type="checkbox">
                            <span class="color-gray">أوافق على <a href="#"  class="color-blue">الشروط والاوحكام</a> </span>
                        </label>
                        <label class="checkbox rounded-5 ">
                            <input type="checkbox">
                            <span class="color-gray"> لانضمام للنشره البريديه</span>
                        </label>
                        <button class="btn form-btn bg-gray color-gray rounded-5">انشاء حساب </button>
                    </form>
                    <div class="regiter_links flex-col">
                        <p class="color-gray"> ليس لديك حساب ؟ <a  class="color-blue" href="#">تسجيل الدخول</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
